<p>Total questions: {{ questions.count }}</p>
<p>Total choices: {{ total_choices }}</p>
{% for question in questions %}
    <p>{{ question.question_text }}</p>
    <p>Total votes: {{ question.total_votes }}</p>
    <p>Average votes per question: {{ question.average_votes_per_question }}</p>
    {% for choice in question.choice_set.all %}
        <p>{{ choice.choice_text }}: {{ choice.votes }}</p>
    {% endfor %}
{% endfor %}
<p>Most popular question: {{ most_popular.question_text }}</p>
<p>Total votes for most popular question: {{ most_popular.votes_sum }}</p>

